.git
.gitignore
.github
.env
.env.*
!.env.example
docs
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
*.md
Dockerfile
docker-compose.yml
docker
